<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animals</title>
</head>

<body>
    <nav>
        <a href="/animals/new">Create Mammal</a>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Average Age</th>
                    <th>Alive?</th>
                    <th>Endangered</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (const animal of animals) { %>
                    <tr>
                        <td>
                            <a href="/animals/<%= animal._id %>">
                                <%= animal.name %>
                            </a>
                        </td>
                        <td>
                            <%= animal.age %>
                        </td>
                        <td>
                            <%= animal.isAlive %>
                        </td>
                        <td>
                            <%= animal.isEndangered %>
                        </td>
                        <td>Future Actions
                            <a href="/animals/<%= animal._id %>/edit"><button>Edit</button></a>
                            <a href="/animals/<%= animal._id %>/delete"><button>Delete</button></a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </main>

</body>
</html>