<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Specific Animal Details</title>
</head>
<body>
    <fieldset><legend><%= animal.name %></legend>
        <p>
            <%= animal.name %> has an approximate age of <%= animal.age %>.
        </p>
        <p>
            Is <%= animal.name%> currently alive?: <%= animal.isAlive%>
        </p>
        <p>
            Is <%= animal.name%> currently alive?:  <%= animal.isEndangered%>
        </p>
    </fieldset>   
</body>
</html>